@import url("https://fonts.googleapis.com/css?family=Signika");






:root{
  --primary-colour: #fcf6f0;
  --text-colour: #1c1c1c;
  --accordion-colour: rgb(236, 236, 236);
  --gradient-start: #3b8e40;
  --gradient-end: #e3b707;
  --accordion-hover-colour: #e3b707;
  --submenu-border: rgba(2,48,71,0.2);
  --menu-colour: var(--primary-colour);
  --progressTracker-colour:rgba(187, 188, 173, 0.2);
  --image-background-colour: rgba(187, 188, 173, 0.2);
  --footer-colour: #ffd991;

  
  --purple: #9e19d3;
  --cyan: #2ae0c8;
  --blue: #1e8bc3;
  --red: #bf3f56;
  --pink: #c3509d;

  --logo-margin: 22%;

}
/*possible footer colour #ffd568*/
.dark-theme{
  --primary-colour: #264439;
  --text-colour: #F4F5FA;
  --accordion-colour: #455b55;
  --gradient-start: #e3b707;
  --gradient-end: #e3b707;
  --accordion-hover-colour: #e3b707;
  --submenu-border: rgba(0, 0, 0, 0.2);
  --menu-colour: #213930;
  --progressTracker-colour: var(--menu-colour);
  --image-background-colour: var(--accordion-colour);
  --footer-colour: #e3b707;
}


/* for scrollbar*/
::-webkit-scrollbar {
  width: 5px;
  
}

::-webkit-scrollbar-thumb {
  background-color: #695f5b96;
  border-radius: 7px;
}

::-webkit-scrollbar-track {
  background-color: #2a2a2a1e;
}
/* for scrollbar*/





ol {
  list-style-type: none;
}

* {
    box-sizing: border-box;
  }

p {
  margin:0;
  padding:0;

}

  
body {
  margin: 0;
  height: 100vh;
  overflow: auto;
  display: flex;
  line-height: 1.5;
  font-family: "Signika", "Lato", Arial, Helvetica, sans-serif;
  background-color: var(--text-colour);
  color: var(--text-colour);
  font-size: 13px;
}

a{
  text-decoration: none;/*set text decoration to 'none' so you dont have any underlines*/
  color: var(--text-colour);/*font color*/
  display:inline-block;
}





.mobile_menuLink{
  text-decoration: none;/*set text decoration to 'none' so you dont have any underlines*/
  color: var(--text-colour);/*font color*/
  font-weight: bold;
}

svg{
    color:var(--text-colour);
}

h3 {
  font-size: 10px;
}



/*The following is for the menu and 'X' icon*/
#check {
  display: none;
}
#check + label {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    z-index: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    display:none;/*TO MAKE MENU BUTTON DISSAPPEAR FOR DESKTOP VIEW*/
    

}


#check + label svg {
    margin-right: 0.5em;
}
#check + label svg path {
    transform-origin: 35% 50%;
    transition: 166ms cubic-bezier(0.06, 0.63, 0.91, 0.66);
}
#check:checked + label ~ aside {
    transform: none;
}
#check:checked + label::before {
    left: calc(25vw - 1em);
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}


#check:checked + label svg #one {
    transform: rotate(45deg);
    stroke: #e3b707;
}
#check:checked + label svg #two {
    transform: rotate(-45deg);
    stroke: #e3b707;
}
#check:checked + label ~ article {
    z-index: -1;
    transform: translateX(25vw) scale(0.7);
    border-radius: 0.25em;
    user-select: none;
    pointer-events: none;
    opacity:0.7; /*will slightly dark screen when mobile menu is upen*/
}
/*The above is for the menu and 'X' icon*/

aside,
article {

    transition: all 320ms; /*time it takes for the transition of the menu to show up to occur*/
    scroll-behavior: smooth;/*that smooth scroll effect when clicking a link on the side menu*/
}

aside {
    position: absolute;
    width: 25vw;/*How wide the menu should be!*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-colour);
    transform: translateX(-100%);

}


@media (max-width: 800px) {/*So when the width of screen is 800px or less: change the following classes. USEFUL FOR MOBILE-VIEW*/
  aside {
    width: 40vw;
  }




  #check + label {
        position: absolute;
        top: 0.2em;
        left: 0.2em;
        z-index: 1;
        display: flex;
        align-items: center;
        cursor: pointer;
        display:block;
    }
    

    .mega-menu-container{
        display:none;
    }

    body{
      height: 100vh;
    }
    

    #progress-bar{/*to make progress bar dissappear*/
      display: none;
    }

    .progressTracker_column{/*to make progress tracker dissappear*/
      display:none;
    }

}

article {
  position: relative;
  transform-origin: 10% 50%;
  width: 100%;
  background-color: var(--primary-colour);
}
article .wrapper {
  margin: auto;
  padding: 3em;
  padding-right:9em; /*gives whitespace to the right*/
  display:flex;
  padding-left:4em;


}

.sub_menu h3{
  margin: 10px 0;
}




/*The following are a series of hover effects for the menu. specifically the horizontal line on hover effect*/
.menu_item-purple, .menu_item-cyan, .menu_item-blue, .menu_item-red, .menu_item-pink{
  position: relative;
  text-decoration: none;
}

.menu_item-purple::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;/*how thick the horizontal line effect is*/
  border-radius: 1px;
  background-color: var(--purple);
  bottom: 0px;/*verticle spacing of the horizontal line effect*/
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: .4s ease-in-out;
  
}

.menu_item-cyan::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;/*how thick the horizontal line effect is*/
  border-radius: 1px;
  background-color: var(--cyan);
  bottom: 0px;/*verticle spacing of the horizontal line effect*/
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: .4s ease-in-out;
  
}


.menu_item-blue::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;/*how thick the horizontal line effect is*/
  border-radius: 1px;
  background-color: var(--blue);
  bottom: 0px;/*verticle spacing of the horizontal line effect*/
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: .4s ease-in-out;
  
}

.menu_item-red::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;/*how thick the horizontal line effect is*/
  border-radius: 1px;
  background-color: var(--red);
  bottom: 0px;/*verticle spacing of the horizontal line effect*/
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: .4s ease-in-out;
}



.menu_item-pink::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;/*how thick the horizontal line effect is*/
  border-radius: 1px;
  background-color: var(--pink);
  bottom: 0px;/*verticle spacing of the horizontal line effect*/
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: .4s ease-in-out;
}


.menu_item-purple:hover::before, .menu_item-cyan:hover::before, .menu_item-blue:hover::before,
 .menu_item-red:hover::before, .menu_item-pink:hover::before  {
  transform-origin: left;
  transform: scaleX(1);
  z-index: 20;
}




.sub_menu {
    padding: 10px 0 10px 10px;
    border-style:solid;
    border-width: 0 0 0 10px;
    
}

.sub_menu:nth-child(1){
  border-color: var(--purple);
}
.sub_menu:nth-child(2){
  border-color: var(--cyan);
}
.sub_menu:nth-child(3){
  border-color: var(--blue);
}
.sub_menu:nth-child(4){
  border-color: var(--red);
}


/*The following are a series of hover effects for the menu. specifically the horizontal line on hover effect*/












/*THE FOLLOWING BELOW IS EXCLUSIVELY FOR THE TRADITIONAL HEADER STYLE MENU*/

.mega-menu-container{
    color: var(--text-colour);/*font color*/
}


.mega-menu-container,
.mega-menu-container *{/* the star means anything thats inside that container. Very useful!!!*/
    box-sizing: border-box;
}

.mega-menu-container a{
    display:inline-block;
    font-weight:bold;
    transition: all 150ms linear;
}

.mega-menu-container a:hover{ /*Hover effect for links in header. specifically the one where they grow*/
  text-shadow: 1px 1px 5px rgba(90, 96, 90, 0.4);
}

.submenu-column a:hover{/*so for links just inside the hover menus....*/
  transform: scale(1.1);
}

.mega-menu-container ul{
    padding:0;
    margin: 0;
    list-style: none;
}

.mega-menu-container h4{
    margin: 8px 0;
}


.mega-menu{
    position:fixed;/*change to relative for header menu to NOT be sticky*/
    left:0;
    right:0;
    max-width:100%;
    z-index: 10;

    box-shadow: 0 4px 30px -7px rgba(0, 0, 0, 0.2);
    background-color: var(--menu-colour);


    border-color:var(--submenu-border);/*border color of traditional header*/
    border-style: solid;
    border-width: 0 0 1px 0;/*only have a bottom border color*/
    
}


.mega-menu > ul {
    display:flex;
    max-width:800px;
    margin:0 auto;
    justify-content: center; /*Horizontal alignment*/
    align-items: center; /*verticle alignment*/
    gap:32px;
}




.mega-menu-container .menu-title{
    padding: 10px 5px;
    font-weight: bold;
}

.mega-menu .menu-title{
    position: relative;
}



.mega-menu ul li:hover > .menu-title::after {
    height: 4px;
    width:100%;
}


.mega-menu-container .submenu-container{
    opacity:0;
    position:absolute;
    pointer-events: none;/*prevents us on clicking the submenus outside of the hover effect*/
    top:33px;/*distance between popup and header*/
    width: 400px;/*size of our dropdown*/
    height: 170px;/*size of our dropdown*/
    margin-left:-160px;/*what i used to try and center the dropdown div on hover. ok for now.*/
    transform:translateY(10px);/*animation of hover menu*/
    transition: all 200ms ease-in;/*animation of hover menu*/
    /*background-color:red;*/
}

.mega-menu .has-submenu:hover .submenu-container {
    opacity:1;
    pointer-events: auto;
    transform: translateY(0);/*animation of hover menu*/
    
}


.submenu .col-3 {
    display:flex;
    gap:40px;
    border-top: 1px solid var(--submenu-border);

}


.submenu {
    background-color: var(--menu-colour);
    padding:16px 24px;
    margin-top:10px;
    left:0;
    box-shadow:
    0.7px 2.3px 18.1px -30px rgba(0, 0, 0, 0.88),
    2px 6.7px 26.2px -30px rgba(0, 0, 0, 0.633),
    4.1px 13.5px 32.5px -30px rgba(0, 0, 0, 0.525),
    7.2px 23.8px 39.3px -30px rgba(0, 0, 0, 0.44),
    11.8px 39.1px 49.6px -30px rgba(0, 0, 0, 0.355),
    19px 63px 78px -30px rgba(0, 0, 0, 0.247);
    border-color:var(--submenu-border);
    border-style: solid;
    border-width:1px;
    border-radius: 5px;


}

.TEXT-project_menu{
  transition: 10s linear;
}

.submenu .col-3 ul li{
    margin: 12px 0;/*margin for points in dropdown menu*/
    position:relative;
}


.menu-Image{
  filter:grayscale(0.3);
  opacity: 0.7;
  transition: all 150ms linear;
  margin-right:1px;
}

.mega-menu-container a:hover .menu-Image{
  opacity: 1;
  filter:grayscale(0);
}


/*THE FOLLOWING ABOVE IS EXCLUSIVELY FOR THE TRADITIONAL HEADER STYLE MENU*/










/*preloader*/
#preloader{
  background:#E3F4FD url(images/test.gif) no-repeat center;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/*progress bar*/
#progress-bar{
  --scrollProgress: 0%;
  height: 3px;
  width: var(--scrollProgress);
  background: linear-gradient(0.25turn, var(--gradient-start), var(--gradient-end));
  position: fixed;
  z-index: 100;
}




.progressTracker_column{
  margin-top:20px;
  width:200px;
  padding-right:18em;
  background-color: var(--primary-colour);
}

.progressTracker_div{
  padding-inline: 1em;
  background-color: var(--progressTracker-colour);
  padding-bottom: 1em;
  border-radius: 5px;
  
}

.progressTracker_Link{
  max-width:150px;
  font-weight: bold;
  scale:0.8;
  opacity: 0.7;
  transition: 320ms;
  background-color: transparent;
}


#bottom_border1, #bottom_border2, #bottom_border3, #bottom_border4, #bottom_border5, #bottom_border6, #bottom_border7
, #bottom_border8, #bottom_border9, #bottom_border10 {
  border-style:solid;
  border-width: 0 0 3px 0;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) 1;
  transition: all 1s ease-in-out;


}


/*the stuff below is related to on hover link effect in paragraphs*/
.paragraph_link_purple{
  border-style:solid;
  border-color:rgba(192, 111, 224, 0.5);
  border-width: 0px 0px 2px 0px;
  transition: all 300ms ease-in-out;
}


.paragraph_link_purple:hover{
  border-color:var(--purple);
  background-color: rgba(192, 111, 224, 0.1);
  box-shadow: 0 -5px 10px 2px rgba(192, 111, 224, 0.1);
}


.paragraph_link_cyan{
  border-style:solid;
  border-color:rgba(42, 224, 200, 0.5);
  border-width: 0px 0px 2px 0px;
  transition: all 300ms ease-in-out;
}

.paragraph_link_cyan:hover{
  border-color:var(--cyan);
  background-color: rgba(42, 224, 200, 0.1);
  box-shadow: 0 -5px 10px 2px rgba(42, 224, 200, 0.1);
}

.paragraph_link_blue{
  border-style:solid;
  border-color:rgba(30, 139, 195, 0.5);
  border-width: 0px 0px 2px 0px;
  transition: all 300ms ease-in-out;
}

.paragraph_link_blue:hover{
  border-color:var(--blue);
  background-color: rgba(30, 139, 195, 0.1);
  box-shadow: 0 -5px 10px 2px rgba(30, 139, 195, 0.1);
}


.paragraph_link_red{
  border-style:solid;
  border-color:rgba(206, 0, 38, 0.5);
  border-width: 0px 0px 2px 0px;
  transition: all 300ms ease-in-out;
}


.paragraph_link_red:hover{
  border-color:var(--red);
  background-color: rgba(206, 0, 38, 0.1);
  box-shadow: 0 -5px 10px 2px rgba(206, 0, 38, 0.1);
}

.paragraph_link_pink{
  border-style:solid;
  border-color:rgba(255, 0, 170, 0.5);
  border-width: 0px 0px 2px 0px;
  transition: all 300ms ease-in-out;
}


.paragraph_link_pink:hover{
  border-color:var(--pink);
  background-color: rgba(255, 72, 194, 0.1);
  box-shadow: 0 -5px 10px 2px rgba(255, 0, 170, 0.1);
}


.active-link{/*so whatever page you are in, it will do this to the link corrosponding to it!!!!!!*/

  color: var(--accordion-hover-colour)
}



/*the stuff above is related to on hover link effect in paragraphs*/






/*the stuff below is related to the Accordion dropdown. see https://www.w3schools.com/howto/howto_js_accordion.asp on how its done */
.accordion {
  background-color: #ccc;
  color: #1c1c1c;
  cursor: pointer;
  padding: 10px;
  width: 30%;
  min-width:160px;
  border: solid;
  border-width: 0 0 2px 0;
  border-color:transparent;
  text-align: left;
  outline: none;
  font-weight: bold;

  transition: 0.4s;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.active, .accordion:hover {
  background-color: var(--accordion-hover-colour);
  border: solid;
  border-width: 0 0 2px 0;
  border-color:#626262;
  width: 100%;

}

.accordion:after {
  content: '\002B';
  color: #1c1c1c;
  font-weight: bold;
  margin-left: 5px;
  animation: ripple 0.5s linear;
}

.active:after {
  content: "\2212";
  color: var(--text-colour);

}

.accordion-span{
  position: absolute;
  background: var(--primary-colour);
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  overflow: hidden;
  animation: ripple 0.5s linear infinite;
}

.panel {
  padding: 0 18px;
  background-color: var(--accordion-colour);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 50px -7px rgba(0, 0, 0, 0.3);
}
/*the stuff below is related to the Accordion dropdown*/



.bottom_Header{
  width:100%;
  height:15vh;
  background-color:var(--footer-colour);
  border-color:var(--submenu-border);/*border color of traditional header*/
  border-style: solid;
  border-width: 2px 0 0 0;/*only have a bottom border color*/
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  min-height: 70px;
}


@keyframes ripple{
  0%{
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100%{
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

/*stuff for the sponsor logos*/
.logos{
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  margin-left: max(var(--logo-margin), 150px);
}


.logos-slide {
  display: inline-block;
  animation: 80s carousel infinite linear;
  padding: 20px 0;
}

.logos-slide img{
  height: 6vh;
  margin-right: 35px;
  transition: all 300ms linear;
  min-height: 30px;
}

.logos-slide img:hover{
  transform: scale(1.1);
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.footer-container {
  position: relative;
  z-index: 0;
}

/* stuff for the socials*/

.no-transition {
  transition: none !important;
}

#toggle-mode{
  cursor: pointer;
  padding: 5px;
  transition: all 150ms linear;
}

#toggle-mode:hover{
  transform: scale(1.1);
}



.Images-paragraph_setup{
  height:auto; 
  border-style:dashed; 
  border-width: 0px 0 2px 0; 
  border-color:var(--progressTracker-colour);
  transition: 0.7s ease-in-out;
}

.Images-figCap{
  transition: 0.7s ease-in-out;
}

.footer-info{
  position: absolute;
  background-color: var(--footer-colour);
  width: max(var(--logo-margin), 150px);
  height: 100%;
  overflow: hidden;
  border-color:var(--submenu-border);/*border color of traditional header*/
  border-style: solid;
  border-width: 2px 0 0 0;
  display: flex;
}

.footer-info img{
  height: 65%;
  width: auto;
  align-self: center;
  margin-left: 5%;
}

.info-text{
  color: #1c1c1c;
  margin-top: 4%;
  align-self: center;
  font-size: max(min(0.9vw, 2vh), 0.5rem);
}

.footer-text-holder{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  .info-text {
    display: none;
  }
}

.social-logos{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}
.social-logos a{
  height: 25%;
  display: flex;
  align-items: center; 
  justify-content: center;
  transition: .4s ease-in-out;
}
.social-logos a:hover{
  transform: scale(1.05);
}
.social-logos img{
  height: 3vh;
  margin: max(1vh, 3px);
  min-height: 15px;
  transition: .4s ease-in-out;
}

.social-logos a:hover img {
  transform: scale(1.1);
  animation: tilt 0.55s infinite;
}

@keyframes tilt {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-7deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(7deg); }
  100% { transform: rotate(0deg); }
}

.vertical-line{
  border-right: 2px solid var(--submenu-border);
  height: 80%;
  align-self: center;
  margin-left: auto;
}

.license{
  background-color: var(--footer-colour);
  text-align: center;
  font-size: max(0.8vw, 10px);
  padding-bottom: 2px;
  color: #1c1c1c;
}