
.bottom_Header{
    width:100%;
    height:15vh;
    background-color:var(--footer-colour);
    border-color:var(--submenu-border);/*border color of traditional header*/
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    min-height: 70px;
}



/*stuff for the sponsor logos*/
.logos{
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    margin-left: max(var(--logo-margin), 150px);
}
  
  
.logos-slide {
    display: inline-block;
    animation: 80s carousel infinite linear;
    padding: 20px 0;
}
  
.logos-slide img{
    height: 6vh;
    margin-right: 35px;
    transition: all 300ms linear;
    min-height: 30px;
}
  
.logos-slide img:hover{
    transform: scale(1.1);
}
  
@keyframes carousel {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}
  
.footer-container {
    position: relative;
    z-index: 0;
}
  
  /* stuff for the socials*/
  
.no-transition {
    transition: none !important;
}
  
.footer-info{
    position: absolute;
    background-color: var(--footer-colour);
    width: max(var(--logo-margin), 150px);
    height: 100%;
    overflow: hidden;
    border-color:var(--submenu-border);/*border color of traditional header*/
    display: flex;
}
  
.footer-info img{
    height: 65%;
    width: auto;
    align-self: center;
    margin-left: 5%;
}
  
.info-text{
    color: #1c1c1c;
    margin-top: 4%;
    align-self: center;
    font-size: max(min(0.9vw, 2vh), 0.5rem);
}
  
.footer-text-holder{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
  
@media (max-width: 800px) {
    .info-text {
      display: none;
    }
}
  
.social-logos{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.social-logos a{
    height: 25%;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: .4s ease-in-out;
}

  .social-logos a:hover{
    transform: scale(1.05);
}

  .social-logos img{
    height: 3vh;
    margin: max(1vh, 3px);
    min-height: 15px;
    transition: .4s ease-in-out;
}
  
.social-logos a:hover img {
    transform: scale(1.1);
    animation: tilt 0.55s infinite;
}
  
@keyframes tilt {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-7deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(7deg); }
    100% { transform: rotate(0deg); }
}
  
.vertical-line{
    border-right: 2px solid var(--submenu-border);
    height: 80%;
    align-self: center;
    margin-left: auto;
}
  
.license{
    background-color: var(--footer-colour);
    text-align: center;
    font-size: max(0.8vw, 10px);
    padding-bottom: 2px;
    color: #1c1c1c;
}